.main_div {
    width: 100%;
}

.secondary_div {
    width: 100%;
}

.h3 {
    color: white;
    font-size: 40px;
    /* padding-left: 200px; */
}

.h31 {
    color: white;
    font-size: 40px;
    /* padding-left: 400px; */
}


/* .row-row-cols-3{
    margin: 10px;
    width: 50px
} */
.h4 {
    color: white;
}

.h4 {
    color: white;
}

.p2 {
    color: yellow;
}

.spanyellow {
    color: yellow;
}

.row_1 {
    display: flex;
    flex-direction: row;

}
.img{
    width: 100%;
}

/* @media screen (min-width:0px) and (max-width:600px){
     .h3{
        font-size: 80px;
     }
     .h31{
        font-size: 80px;
     }
} */

/* @media screen and (min-width: 600px) {
    .h3 {
      font-size: 80px;
    }
  } */

/* If screen size is 600px wide, or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .h3 {
        font-size: 20px;
        padding-left: 5%;
       
    }

    .h31 {
        font-size: 20px;
        padding-left: 10%;
    }
    .row_1 {
        display: flex;
        flex-direction: column;
        padding-left: 20%;
        width: 50%;
    }
    .h4{
        padding-left: 5%;
        display: flex;
        font-size: 20px;
    }
    .img{
        width: 90%;
        display: flex; 
    }
    
    
}